<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item"  routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <ng-container *ngIf="isAuthenticate">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/editor']"  >
            <i class="ion-compose"></i>&nbsp;New Post
          </a>
        </li>
        <li class="nav-item"  routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/setting']">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile', user.username]">
            <img [src]="user?.image" class="user-pic">
            <span>{{ user.username }}</span>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="!isAuthenticate">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/login']"  >Sign in</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/register']">Sign up</a>
        </li>
      </ng-container>
    </ul>
  </div>
