<img [src]="profile.image" class="user-img" />
<h4>{{ profile.username }}</h4>
<p>
  {{ profile.bio }}
</p>

<ng-container *ngIf="!isUser">
  <app-button-following  [userName]="username" [isFollow]="profile.following">
    {{ profile.following === true ? 'Unfollow ' + profile.username : 'Follow ' + profile.username }}
  </app-button-following>
</ng-container>

<button class="btn btn-sm btn-outline-secondary action-btn" *ngIf="isUser" (click)="navigateSetting()">
  <i class="ion-gear-a"></i>
  &nbsp;
  Edit Profile Settings
</button>
