<div class="article-page">

  <div class="banner">
    <div class="container">
      <app-article-user [article]="article">
        <h1>{{ article.title }}</h1>
      </app-article-user>
    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">
        <app-article-content [article]="article"></app-article-content>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <app-article-user [article]="article"></app-article-user>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-8 offset-md-2">
        <p style="display: inherit;" *ngIf="hasUser">
          <a [routerLink]="['/login']" >Sign in</a> or <a [routerLink]="['/register']" >sign up</a> to add comments on this article.
        </p>
        <app-comment [slug]="article.slug"></app-comment>
      </div>

    </div>

  </div>
</div>
