<ng-container *ngIf="listArticle.length > 0">
  <div class="article-preview" *ngFor="let article of listArticle; let i = index;">
    <div class="article-meta">

      <a [routerLink]="['/profile', article.author.username]"><img [src]="article.author.image" /></a>

      <div class="info">
        <a [routerLink]="['/profile', article.author.username]" class="author">{{ article.author.username }}</a>
        <span class="date">{{ article.createdAt | date }}</span>
      </div>

      <app-button-favorited [slug]="article.slug" [index]="i" [isFavorited]="article.favorited" class="pull-xs-right">
        {{ article.favoritesCount }}
      </app-button-favorited>

    </div>

    <a [routerLink]="['/article', article.slug]" class="preview-link">

      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>

      <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">{{ tag }}</li>
      </ul>

    </a>
  </div>
</ng-container>

<div class="article-preview loading" *ngIf="isLoadingMode">
  <app-loading-spiner class="loading"></app-loading-spiner>
</div>

<div class="article-preview hasArticle" *ngIf="!listArticle.length && !isLoadingMode">
  No articles are here... yet.
</div>


