<div class="card" *ngFor="let comment of listComment; let i = index;">
  <div class="card-block">
    <p class="card-text">{{ comment.body }}</p>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/profile', comment.author.username]"  class="comment-author">
      <img [src]="comment.author.image" class="comment-author-img" />
    </a>
    &nbsp;
    <a [routerLink]="['/profile', comment.author.username]"  class="comment-author">{{ comment.author.username }}</a>
    <span class="date-posted">{{ comment.createdAt | date: 'longDate' }}</span>
    <span class="mod-options" *ngIf="userCurrent.username === comment.author.username">
      <i class="ion-trash-a" (click)="removeComment(comment.id)"></i>
    </span>
  </div>
</div>

