<form class="card comment-form">
  <div class="card-block">
    <textarea class="form-control" placeholder="Write a comment..." rows="3" #comment></textarea>
  </div>
  <div class="card-footer">
    <img [src]="user?.image" class="comment-author-img" />
    <button class="btn btn-sm btn-primary" type="button" (click)="addComment(comment)">
      Post Comment
    </button>
  </div>
</form>
<app-list-comment [listComment]="listComment" [userCurrent]="user" [slug]="slug"></app-list-comment>
