<button class="btn btn-sm" [ngClass]=" isFavorited === false ? 'btn-outline-primary' : 'btn-primary'" (click)="onFavoritedArticle()">
  <i class="ion-heart"></i>
  <ng-content></ng-content>
</button>
