<div class="settings-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
          <fieldset>
              <fieldset class="form-group">
                <input class="form-control" type="text" placeholder="URL of profile picture" formControlName="urlImage" #imagePath>
              </fieldset>
              <div style="margin: 15px 0; width: 100%;">
                  <img [src]="imagePath?.value" class="img-fluid">
              </div>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Your Name" formControlName="username">
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control form-control-lg" rows="8" placeholder="Short bio about you" formControlName="bio"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="password">
              </fieldset>
              <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="settingForm.invalid">
                Update Settings
              </button>
          </fieldset>
        </form>

        <hr>

        <button class="btn btn-outline-danger" (click)="onlogOut()">
          Or click here to logout.
        </button>
      </div>

    </div>
  </div>
</div>
