<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']">Have an account?</a>
        </p>

        <ul class="error-messages" *ngIf="error">
          <li>{{ error }}</li>
        </ul>

        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spiner></app-loading-spiner>
        </div>

        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <fieldset class="form-group">
            <input class="form-control form-control-lg" ngModel name="username" type="text" placeholder="Your Name" required>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" ngModel name="email" type="text" placeholder="Email" required email>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" ngModel name="password" type="password" placeholder="Password" required minlength="6">
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid">
            Sign up
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
