<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled: pager['currentPage'] === 1}" style="cursor: pointer;">
      <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: pager['currentPage'] === 1}" style="cursor: pointer;">
      <a class="page-link" (click)="setPage(pager['currentPage'] - 1)">Previous</a>
    </li>
    <li class="page-item"  [ngClass]="{active: pager['currentPage'] === item}"  *ngFor="let item of pager['pages']" style="cursor: pointer;">
      <a class="page-link" (click)="setPage(item)">{{ item }}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: pager['currentPage'] === pager['totalPages']}" style="cursor: pointer;">
      <a class="page-link" (click)="setPage(pager['currentPage'] + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: pager['currentPage'] === pager['totalPages']}" style="cursor: pointer;">
      <a class="page-link" (click)="setPage(pager['totalPages'])">Last</a>
    </li>
  </ul>
</nav>
