<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="editorForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Article Title" formControlName="title">
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="What's this article about?" formControlName="description">
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)" formControlName="body"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="Enter tags" (keydown.enter)="addTag(tag)" #tag>
              <div class="tag-list">
                <span class="tag-default tag-pill" *ngFor="let tag of tagList; let i = index;">
                  <i class="ion-close-round" (click)="removeTag(i)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary">
              {{ hasSlug === true ? 'Update Article' : 'Publish Article' }}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
