<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <app-username [profile]="profile" [username]="username"></app-username>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" [ngClass]="{active: nameProfileMode === 'myFavorites'}" (click)="switchArticleMode('myFavorites')">My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" [ngClass]="{active: nameProfileMode === 'favoritesArticle'}" (click)="switchArticleMode('favoritesArticle')">Favorited Articles</a>
            </li>
          </ul>
        </div>

      <app-list-article [listArticle]="listArticle" [isLoadingMode]="isLoadingMode"></app-list-article>
      <app-pagination [articleCount]="articleCount" *ngIf="listArticle.length > 0 && !isLoadingMode" (nextOffset)="getPage($event)"></app-pagination>

      </div>

    </div>
  </div>

</div>
