<ng-content></ng-content>
<div class="article-meta">
  <a href=""><img [src]="article.author.image" /></a>
  <div class="info">
    <a href="" class="author">{{ article.author.username }}</a>
    <span class="date">{{ article.createdAt | date }}</span>
  </div>


  <ng-container *ngIf="!isUser">
    <app-button-following [userName]="article.author.username" [isFollow]="article.author.following">
      {{ article.author.following === true ? 'Unfollow ' + article.author.username : 'Follow ' + article.author.username }}
    </app-button-following>

    &nbsp;&nbsp;

    <app-button-favorited [slug]="article.slug" [isFavorited]="article.favorited">
      Favorite Article <span class="counter">({{ article.favoritesCount }})</span>
    </app-button-favorited>
  </ng-container>

  <span  *ngIf="isUser">

    <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/editor', article.slug]">
      <i class="ion-edit"></i> Edit Article
    </a>

    <button class="btn btn-outline-danger btn-sm" (click)="removeArticle()" style="margin-left: 10px;">
      <i class="ion-trash-a"></i> Delete Article
    </button>

  </span>


</div>
