<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item" *ngIf="isUser">
              <a class="nav-link" style="cursor: pointer;" [ngClass]="{active: nameFeedMode === 'yourFeed'}"
                (click)="switchMode('yourFeed')">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" [ngClass]="{active: nameFeedMode === 'globalFeed'}"
                (click)="switchMode('globalFeed')">Global Feed</a>
            </li>
            <li class="nav-item" *ngIf="nameFeedMode === 'tagsFeed'">
              <a class="nav-link" [ngClass]="{active: nameFeedMode === 'tagsFeed'}" style="cursor: pointer;" >
                <i class="ion-pound"></i>{{ nameTag }}
              </a>
            </li>
          </ul>
        </div>

        <app-list-article  [listArticle]="listArticle" [isLoadingMode]="isLoadingMode"></app-list-article>
        <app-pagination [articleCount]="articleCount" *ngIf="listArticle.length > 0 && !isLoadingMode" (nextOffset)="getPage($event)"></app-pagination>

      </div>

      <div class="col-md-3">
        <app-side-bar-home>
          <a style="cursor: pointer;" (click)="onShowTag(item)" class="tag-pill tag-default" *ngFor="let item of listTag">{{ item }}</a>
        </app-side-bar-home>
      </div>

    </div>
  </div>

</div>
